*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container
{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
ul,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #b8b8b8;
}
h2{
    color: #4e4e4e;
    font-family: 'Regular';
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    text-align: center;
}

.gitTest{
    font-size: 36px;
    text-align: justify;
    padding: 50px;
}